// .layout-content {
//
//   border: 20px solid yellow;
//
//   @include bp(mobile-only) {
//     border: 20px solid green;
//   }
//
//   @include bp(tablet-portrait) {
//     border: 20px solid orange;
//   }
//
//   @include bp(tablet-landscape) {
//     border: 20px solid red;
//   }
//
//   @include bp(desktop) {
//     border: 20px solid blue;
//   }
// }
