.footer {
  @include display-grid;
  background-color: $color-3a;
  color: $color-white;
  padding: $sp3 0;
  font-size: rem-calc(18);

  @include bp(tablet-portrait) {
    padding: $sp7 0;
  }

  p {

    a {
      @include focus-on-dark;
      @include hover($linkcolor: $color-white, $hovercolor: $color-white);
    }
  }

  .region-footer {

    @include bp(tablet-portrait) {
      @include display-grid-tight;
    }

    .block-system-branding-block {

      @include bp(tablet-portrait) {
        grid-column: 1/7;
      }

      @include bp(desktop) {
        grid-column: 1/4;
        grid-row: 1;
      }
    }

    .footer-social {

      @include bp(tablet-portrait) {
        grid-column: 1/7;
      }
    }

    // These 3 blocks have some styles in common
    .footer-address,
    .footer-email,
    .footer-phone {

      h2 {
        font-size: rem-calc(25);
        font-family: $font-Op-SB;
        margin-bottom: $sp4;
        color: $color-e;
      }

      p {
        display: flex;

        &::before {
          @include pseudo($pos: relative, $width: 25px, $height: 25px);
          @include background-image('icon-marker.svg', $size: contain);
          margin-right: $sp1;
        }
      }
    }

    .footer-address {

      @include bp(tablet-portrait) {
        grid-column: 7/13;
        grid-row: 1;
      }

      @include bp(desktop) {
        grid-column: 4/7;
        min-width: rem-calc(180);
      }

      p {

        &::before {
          @include background-image('icon-marker.png', $size: contain);
        }
      }
    }

    .footer-email {

      @include bp(tablet-portrait) {
        grid-column: 7/13;
      }

      @include bp(desktop) {
        grid-column: 7/10;
        grid-row: 1;
      }

      p {

        &::before {
          @include background-image('icon-mail.png', $size: contain);
        }
      }
    }

    .footer-phone {

      @include bp(tablet-portrait) {
        grid-column: 7/13;
      }

      @include bp(desktop) {
        grid-column: 10/13;
        grid-row: 1;
      }

      p {

        &::before {
          @include background-image('icon-phone.png', $size: contain);
        }
      }
    }
  }

  &.footer-bottom  {
    text-align: center;
    border-top: 1px solid $color-54;

    @include bp(desktop) {
      padding: $sp5 0;
    }
  }
}
