.header {
  @include display-grid;
  background-color: $color-black;
  padding: $sp2 0;

  .region-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
