body {
  background-color: $color-3a;
}

.main {
  @include display-grid;
  padding-bottom: $sp4;

  .layout-content {
    grid-column: 2/14;
    grid-row: 1;
  }
}

.layout-container {
  background-color: $color-white;
}

// Set container on main
body.page-node-type-page {

  .main {
    @include display-grid;
    padding: $sp5 0;

    @include bp(desktop) {
      padding: $sp7 0;
    }
  }
}

body.layout-no-sidebars {

  .layout-content {
    grid-column: 2/14;
    grid-row: 1;
  }
}

 // Both sidebars are active
body.layout-two-sidebars {

  .layout-sidebar-first {

    @include bp(desktop) {
      grid-column: 2 / 5;
      grid-row: 1;
    }
  }

  .layout-content {

    @include bp(desktop) {
      grid-column: 5 / 11;
    }
  }

  .layout-sidebar-second {

    @include bp(desktop) {
      grid-column: 11 / 14;
      grid-row: 1;
    }
  }
}

// First sidebar only
body.layout-sidebar-first {

  .layout-content {

    @include bp(desktop) {
      grid-column: 5 / 14;
    }
  }

  .layout-sidebar-first {

    @include bp(desktop) {
      grid-column: 2 / 5;
      grid-row: 1;
    }
  }
}

// Second sidebar only
body.layout-sidebar-second {

  .layout-content {

    @include bp(desktop) {
      grid-column: 2 / 11;
    }
  }

  .layout-sidebar-second {

    @include bp(desktop) {
      grid-column: 11 / 14;
      grid-row: 1;
    }
  }
}
