// Main Menu as Superfish

.block-superfishmain {
  width: auto;

  // Menu on mobile
  .sf-accordion-toggle.sf-style-none {

    > a {
      @include focus-on-dark;
      background-color: $color-primary;
      display: flex;
      align-items: center;
      border-radius: rem-calc(3);
      padding: $sp1 $sp2;

      &::before {
        @include screen-reader-text(relative);
        @include background-image('icon-nav-open.svg');
        background-size: contain;
        content: '';
        display: inline-block;
        height: rem-calc(15);
        width: rem-calc(15);
      }

      &.sf-expanded {

        &::before {
          @include background-image('icon-nav-close.svg');
        }
      }

      > span {
        color: $color-white;
        font-family: $font-Op-Bd;
        padding-left: $sp1;
        font-size: rem-calc(15);
      }
    }
  }

  .menu.sf-style-none.sf-accordion {
    background-color: $color-black;
    position: absolute;
    left: rem-calc(-20) !important;
    top: calc(100% + 20px) !important;
    width: calc(100% + 40px);
    font-family: $font-Op-SB;
    font-size: rem-calc(18);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);

    li.sf-depth-1 {

      a.sf-depth-1 {
        padding: $sp2;
        text-decoration: none;
        border-top: 1px solid $color-3a;
        color: $color-white;

        &.is-active {
          color: $color-bright-red;
        }
      }

      &:last-child {

        > a.sf-depth-1 {
          border-bottom: 0;
        }
      }

      a.sf-accordion-button {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        padding: 0;
        z-index: 10;
        height: rem-calc(55);
        width: rem-calc(55);
        @include screen-reader-text;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          content: '';
          display: inline-block;
          @include background-image('icon-arrow-white.svg');
          transform: rotate(90deg);
          height: rem-calc(59);
          width: rem-calc(59);
          margin: 0;
        }
      }

      // expanded
      &.sf-expanded {

        a.sf-accordion-button {

          &::after {
            transform: rotate(270deg);
          }
        }
      }

      > ul {
        background-color: $color-2;

        li.sf-depth-2 {
          float: none;

          a.sf-depth-2 {
            border-top: 1px solid $color-3a;
            padding: $sp2 $sp2 $sp2 $sp4;
            text-decoration: none;
            color: $color-white;

            &.is-active {
              color: $color-bright-red;
            }
          }
        }
      }
    }
  }

  // Menu on desktop ===========================================================
  > .menu.sf-style-none:not(.sf-accordion) {
    font-family: $font-Op-Bd;
    font-size: rem-calc(18);

    li.sf-depth-1 {

      > a {
        text-decoration: none;
        padding: $sp2;
        color: $color-white;

        &.is-active {
          color: $color-bright-red;
        }

        &:hover {
          background-color: $color-white;
          color: $color-54;
        }
      }

      &.menuparent {

        > a {
          padding-right: rem-calc(24);

          &::after {
            content: '';
            display: inline-block;
            position: relative;
            top: rem-calc(-1);
            left: rem-calc(8);
            @include background-image('icon-arrow-white.svg');
            background-size: contain;
            transform: rotate(90deg);
            height: rem-calc(10);
            width: rem-calc(10);
          }

          &:hover {

            &::after {
              @include background-image('icon-arrow-black.svg');
              transform: rotate(270deg);
            }
          }
        }

        &:hover a {

          &::after {
            @include background-image('icon-arrow-black.svg');
            transform: rotate(270deg);
          }
        }
      }

      // Keep the onstate of parent while in dropdown
      &:hover {

        a {
          background-color: $color-white;
          color: $color-54;
        }

        // Display dropdowns without js
        > ul {
          display: block;
        }
      }

      ul {
        display: none;
        background-color: $color-white;
        top: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);

        li.sf-depth-2 {
          border-bottom: 1px solid $color-d;

          a {
            padding: $sp2;
            text-decoration: none;
            color: $color-black;

            &.is-active {
              color: $color-bright-red;
            }

            &:hover {
              background-color: $color-e;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
