{#
/**
 * @file joblisting_entity--full.html.twig
 * Custom theme implementation to present Job Listing data.
 *
 * This template is used when viewing Job Listing pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_joblisting_entity()
 *
 * @ingroup themeable
 */
#}
<h1>MODULE TEMPLATE 2</h1>

<div{{ attributes.addClass('joblisting') }}>
    {% if content %}
        <h2>Here is the content:</h2>
        {{- content -}}
        {#% endif %}#}
    {% else %}
        <h2>No content var available!</h2>
    {% endif %}
</div>

{#
{% if content %}
    <div{{ attributes.addClass('joblisting_entity') }}>
        <a href="{{ title }}">
            {{ label }}
            <p>
                {{ content.field_image }}
                <br/>
                {{ content.body }}
            </p>
        </a>
    </div>
{% endif %}
ANTOINE ANTOINE
#}