{#
/**
 * @file joblisting_entity.html.twig
 * Default theme implementation to present Job Listing data.
 *
 * This template is used when viewing Job Listing pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_joblisting_entity()
 *
 * @ingroup themeable
 */
#}

{# ** template file loacted in the custom module folder #}

{% if content %}
  <div{{ attributes.addClass('joblisting') }}>

    <h1 class="page-title">{{ content.name.0 }}</h1>

    <div class="fields-comp-location">

      {{ content.job_compensation }}

      {% if content.job_location_city|field_value %}
        <span class="separator">|</span>{{ content.job_location_city }}
      {% endif %}

      {% if content.job_location_state|field_value %}
        <span class="comma">,</span> {{ content.job_location_state }}
      {% endif %}

    </div>

    <div class="field-body">
      {{ joblisting.job_description.0.value|raw }}
    </div>

    {% if content.job_tags|field_value %}
      <div class="field-tags">
        <h3>{{ 'Tags'|t }}</h3>
        {{ content.job_tags }}
      </div>
    {% endif %}

  </div>
{% endif %}
