.block-local-tasks-block {

  ul.primary {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;

    li {

      &.is-active {

        a {
          background-color: #fff;
          border-bottom-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }

      a {
        display: inline-block;
        padding: rem-calc(10 20);
        border: 1px solid #ccc;
        border-bottom-color: #999;
        background-color: #ddd;

        &:hover {
          background-color: #c9c9c9;
        }
      }
    }
  }
}


.region-highlighted {
  @include display-grid;

  .messages {
    grid-column: 2/14;
    margin: $sp2 0;
  }
}
