// Focus for buttons

@mixin button {
  @include focus-button;
  display: inline-block;
  border: 0;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: $font-Op-Bd;
  color: $color-white !important;
  background-color: $color-primary;
  padding: rem-calc(14 25);
  text-align: center;
  margin: 0;
  white-space: nowrap;
  border-radius: 3px;
  transition: all .5s;

  &:hover {
    border-bottom: 0 !important;
    text-decoration: underline !important;
    background-color: $color-2;
  }

  &:active {
    text-decoration: underline !important;
  }
}

// For overriding styles in menu links without using !important on everything
@mixin button-link {
  padding: rem-calc(14 25) !important;
  color: $color-white !important;
  text-decoration: none !important;

  &:hover {
    color: $color-black !important;
  }

  &:active {
    text-decoration: underline !important;
  }
}

@mixin button-on-dark {
  @include button;
  @include focus-on-dark;
  color: $color-black !important;
  background-color: $color-white;
}

@mixin remove-button {
  background-color: transparent;
  border: inherit;
  padding: inherit;
  color: inherit;
}

@mixin button-arrow-down {
  @include button;
  padding-right: rem-calc(35);

  &::after {
    content: '';
    display: inline-block;
    position: relative;
    left: rem-calc(8);
    @include background-image('icon-arrow-cta-white.svg');
    height: rem-calc(9);
    width: rem-calc(6);
    transform: rotate(90deg);
  }

  &:hover {

    &::after {
      top: rem-calc(2);
    }
  }
}
