// Focus for keyboard navigation

@mixin focus {

  &:focus {
    outline: 2px solid $color-primary;
  }
}

@mixin focus-button {

  &:focus {
    outline: 2px solid $color-black;
    text-decoration: underline;
  }
}

@mixin focus-on-dark {

  &:focus {
    outline: 2px solid $color-white;
    text-decoration: underline;
  }
}

// Used for white on black box
@mixin focus-on-dark-thick {

  &:focus {
    outline: 6px solid $color-primary;
    text-decoration: underline;
  }
}
