// Utility Classes
// -- Include any reusable classes.

.button {
  @include button;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.media.media--type-image {

  img {
    display: inline-block;
  }
}
