
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}

{%
  set hidden = content.field_hide_title is not empty and node.field_hide_title.value == '1' ? 'screen-reader-text' : ''
%}

<article{{ attributes.addClass(classes) }}>

  {% if content.field_hide_title is not empty and node.field_hide_title.value == '1' %}

  {% else %}

      <div class="page-header">

        {{ content.field_hero_image }}

        <h1 class="page-title {{ hidden }}">{{ label }}</h1>

      </div>

  {% endif %}


  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('field_hide_title', 'field_hero_image') }}
  </div>

</article>
