
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>


<div class="team-column-one">

  {{ content.field_image }}

  {% if content.field_phone_number|field_value %}
    <div class="field-phone">
      <a target="blank" href="{{ content.field_phone_number|render|striptags|trim }}">{{ content.field_phone_number|render|striptags|trim }}</a>
    </div>
  {% endif %}

  {{ content.field_email_address }}
  {{ content.field_linkedin_url }}

</div>

<div class="team-column-two">

  <h1>
    {{ label }}
  </h1>

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('field_image', 'field_phone_number', 'field_email_address', 'field_linkedin_url') }}
  </div>

</div>

</article>
