
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {% if content.field_image|field_value %}
    <a tabindex="-1" aria-hidden="true" href="{{ url }}">{{ content.field_image }}</a>
  {% endif %}

  <div class="team-info">

    <h3><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>

    {{ content.field_company_title }}

    {% if content.field_phone_number|field_value %}
      <div class="field-phone">
        <a target="blank" href="{{ content.field_phone_number|render|striptags|trim }}">{{ content.field_phone_number|render|striptags|trim }}</a>
      </div>
    {% endif %}

    {{ content.field_email_address }}
    {{ content.field_linkedin_url }}

    {{ content|without('field_image', 'field_phone_number', 'field_email_address', 'field_linkedin_url', 'field_company_title') }}

  </div>

</article>
