// pager
.pager {

  ul.pager__items {
    padding: 0;

    li.pager__item {
      padding: 0;

      a {
        display: inline-block;
        padding: rem-calc(5 10);
      }

      &.is-active {

        a {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}
