// View Job Board
.view-job-board {

  .view-filters {
    margin-bottom: $sp2;
    padding-bottom: $sp4;
    border-bottom: 1px solid $color-e;

    @include bp(tablet-portrait) {
      grid-column: 1/6;
      margin-bottom: $sp4;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .form--inline {

      @include bp(tablet-landscape) {
        display: flex;
        align-items: flex-end;
      }

      .form-type-textfield {
        margin: 0 0 $sp2;

        @include bp(tablet-landscape) {
          margin: 0 $sp2 0 0;
        }

        label {
          font-family: $font-Op-Bd;
          text-transform: capitalize;
        }

        input.form-text {
          max-width: 100%;
          height: rem-calc(56);
          border: 1px solid $color-e;
          background-color: $color-f8;

          &:focus {
            background-color: $color-white;
          }
        }
      }

      .form-actions {
        margin: 0;
        white-space: nowrap;

        input[value='Reset'] {
          @include remove-button;
          color: $color-primary !important;
          margin-left: rem-calc(15);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .views-row {
    margin-bottom: $sp4;
    padding-bottom: $sp4;
    border-bottom: 1px solid $color-e;

    .views-field {
      margin-bottom: $sp1;
    }

    .views-field-name {
      font-size: rem-calc(24);
      margin-bottom: $sp1;
      font-family: $font-Op-Bd;

      a {
        @include hover;
      }
    }

    .views-field-job-location-state {
      display: inline-block;
      font-family: $font-Op-Bd;
      margin-right: $sp1;
      padding-right: $sp1;
      border-right: 1px solid;
    }

    .views-field-job-compensation {
      display: inline-block;
      font-family: $font-Op-Bd;
    }

    .views-field-job-description {
      @include wysiwyg;
      // font-size: rem-calc(18);
      margin-bottom: $sp1;
    }

    .views-field-job-location-state {
      font-size: rem-calc(18);
      text-transform: uppercase;
    }

    .views-field-job-owner {
      font-size: rem-calc(16);

      .views-label {
        font-family: $font-Op-SB;
      }

      a {
        @include hover;
        text-decoration: underline;
      }
    }
  }
}
