.block-jobsubmission {
  margin-bottom: $sp7;

  @include bp(desktop) {
    width: 60%;
  }

  > h2 {
    margin-bottom: $sp2;
  }

  #job-application-form {

    label {
      font-family: $font-Op-Bd;
      margin-bottom: rem-calc(5);
    }

    .form-item {
      margin: 0 0 $sp2;

      &.form-item-description {
        margin-bottom: $sp4;
      }

      &.form-item-first-name {

        @include bp(tablet-portrait) {
          float: left;
          width: 48%;
        }
      }

      &.form-item-last-name {

        @include bp(tablet-portrait) {
          float: right;
          width: 48%;
        }
      }

      &.form-item-email {
        clear: both;
      }

      .description {
        font-size: rem-calc(15);
      }
    }

    .form-actions {
      margin: 0;
      padding-top: $sp2;
    }

    input.form-email,
    input.form-text,
    input.form-tel,
    textarea {
      max-width: 100%;
      border: 1px solid $color-e;
      background-color: $color-f8;

      &:focus {
        background-color: $color-white;
      }
    }

    input.form-file {
      max-width: 100%;
    }
  }
}
