// Webform Contact Us
.webform-submission-contact-form {
  @include display-grid;

  .form-type-processed-text {
    font-size: rem-calc(18);

    @include bp(tablet-landscape) {
      grid-column: 2/8;
    }

    h3 {
      font-family: $font-Op-Md;
    }
  }

  #edit-group-form-entry {

    @include bp(tablet-landscape) {
      grid-column: 8/14;
    }

    input.form-email,
    input.form-text,
    textarea {
      max-width: 100%;
      border: 1px solid $color-e;
      background-color: $color-f8;

      &:focus {
        background-color: $color-white;
      }
    }
  }
}
