.menu-footer {

  ul.menu {
    display: flex;
    justify-content: center;
    line-height: 1;
    flex-direction: column;

    @include bp(tablet-portrait) {
      flex-direction: row;
    }

    li {
      margin-bottom: $sp1;
      padding-bottom: $sp1;
      border-bottom: 1px solid;

      @include bp(tablet-portrait) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
        margin-right: $sp1;
        padding-right: $sp1;
        border-right: 1px solid;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;

        @include bp(tablet-portrait) {
          margin-right: 0;
          padding-right: 0;
          border-right: 0;
        }
      }

      a {
        @include hover($linkcolor: $color-white, $hovercolor: $color-white);
        @include focus-on-dark;
      }
    }
  }
}
