.footer-social {

  ul.menu {

    li {
      display: inline-block;
      margin-right: $sp1;

      a {
        @include focus-on-dark;
        @include screen-reader-text(relative);
        color: $color-white;
        text-decoration: none;
        // height: rem-calc(20);
        // width: rem-calc(40);
        border: 3px solid;
        border-radius: 100%;
        padding: $sp1;

        &:hover {
          border-color: $color-primary;
        }

        &::after {
          @include pseudo($pos: relative, $width: 20px, $height: 20px);
        }

        &.link-facebook {

          &::after {
            @include background-image('icon-facebook.png', $size: contain);
          }
        }

        &.link-twitter {

          &::after {
            @include background-image('icon-twitter.png', $size: contain);
          }
        }

        &.link-linkedin {

          &::after {
            @include background-image('icon-linkedin.png', $size: contain);
          }
        }
      }
    }
  }
}
