// Breakpoints
// Based loosely off https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/

$mobile-only: 599px; // Mobile only
$min-width-tablet: 600px; // Tablet portrait
$min-width-tablet-landscape: 900px; // Tablet landscape and laptop
$min-width-desk: 1200px;
$min-width-wide: 1300px;

@mixin bp($size) {
  @if $size == mobile-only {
    @media (max-width: $mobile-only) { @content; }
  } @else if $size == tablet-portrait {
    @media (min-width: $min-width-tablet) { @content; }
  } @else if $size == tablet-landscape {
    @media (min-width: $min-width-tablet-landscape) { @content; }
  } @else if $size == desktop {
    @media (min-width: $min-width-desk) { @content; }
  } @else if $size == wide {
    @media (min-width: $min-width-wide) { @content; }
  }
}

// Test yer breakpoints, uncomment below
// body {
//   border: 20px solid yellow;
//
//   @include bp(mobile-only) {
//     border: 20px solid green;
//   }
//
//   @include bp(tablet-portrait) {
//     border: 20px solid orange;
//   }
//
//   @include bp(tablet-landscape) {
//     border: 20px solid red;
//   }
//
//   @include bp(desktop) {
//     border: 20px solid blue;
//   }
// }

// .what-the-hell-is-this {
//
//   @include bp(tablet-portrait) {
//     font-size: inherit;
//   }
// }
