
@font-face {
	font-family: 'OpenSans Black';
	src: url('../fonts/OpenSans-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans Bold';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans Extra Bold';
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans Extra Light';
	src: url('../fonts/OpenSans-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans Light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans Medium';
	src: url('../fonts/OpenSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans Regular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans SemiBold';
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans Thin';
	src: url('../fonts/OpenSans-Thin.ttf') format('truetype');
}

$font-Op-Bl: 'OpenSans Black', sans-serif;
$font-Op-Bd: 'OpenSans Bold', sans-serif;
$font-Op-ExBd: 'OpenSans Extra Bold', sans-serif;
$font-Op-ExLt: 'OpenSans Extra Light', sans-serif;
$font-Op-Lt: 'OpenSans Light', sans-serif;
$font-Op-Md: 'OpenSans Medium', sans-serif;
$font-Op-Rg: 'OpenSans Regular', sans-serif;
$font-Op-SB: 'OpenSans SemiBold', sans-serif;
$font-Op-Th: 'OpenSans Thin', sans-serif;
