// Paragraph Three Column
.paragraph--type--three-column-text {
  @include display-grid;
  padding: $sp5 0;

  @include bp(tablet-landscape) {
    padding: $sp7 0;
  }

  .section-title {
    text-align: center;

    @include bp(tablet-landscape) {
      grid-column: 2/14;
    }
  }

  .field--name-field-first-column {

    @include bp(tablet-landscape) {
      grid-column: 2/6;
    }
  }

  .field--name-field-middle-column {

    @include bp(tablet-landscape) {
      grid-column: 6/10;
    }
  }

  .field--name-field-last-column {

    @include bp(tablet-landscape) {
      grid-column: 10/14;
    }
  }
}

.home-averity-teams {
  text-align: center;
  font-size: rem-calc(18);
  line-height: 1.8;

  .field--type-text-long {
    padding: $sp3;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;

    &:hover {
      background-color: rgba(0, 54, 163, 0.13);
    }
  }

  a {
    display: inline-block;
  }

  h3 {

    a {
      @include hover($linkcolor: $color-black);
      border-bottom-width: 2px;

      &:hover {
        border-bottom-width: 2px;
      }
    }
  }
}

.contact-block {

  .field--type-text-long {
    @include wysiwyg;
    background-color: $color-f8;
    padding: $sp2;

    &:hover {
      background-color: $color-ef;
    }

    p {
      margin: $sp1 0;
    }

    img {
      max-height: rem-calc(90);
      max-width: rem-calc(90);
      margin-bottom: $sp1;
    }
  }
}
