// Paragraph Two Column
.paragraph--type--two-column-text {
  @include display-grid;
  padding: $sp5 0;

  @include bp(tablet-landscape) {
    padding: $sp7 0;
  }

  .section-title {
    text-align: center;

    @include bp(tablet-landscape) {
      grid-column: 2/14;
    }
  }

  .field--name-field-column-one {

    @include bp(tablet-landscape) {
      grid-column: 2/8;
    }
  }

  .field--name-field-column-two {

    @include bp(tablet-landscape) {
      grid-column: 8/14;
    }
  }
}

.home-averity-different {
  text-align: center;

  h3 {
    color: $color-primary;
    font-size: rem-calc(45);
  }
}
