// Paragraph Carousel Slide
.paragraph--type--carousel-slide {
  @include display-grid;
  height: rem-calc(300);
  background-color: $color-black;

  @include bp(desktop) {
    height: rem-calc(600);
    overflow: hidden;
  }

  .field--name-field-carousel-image {
    z-index: 1;
    position: relative;
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;

    &::before {
      @include pseudo($width: 100%, $height: 100%);
      @include absolute;
      @include linear-gradient(180deg, $color-3a, transparent);
    }

    // Media Image: Carousel Image
    .media--type-image.media--view-mode-carousel-image {
      display: flex;
      width: 100%;
      z-index: -1;

      .field--name-field-media-image {
        display: flex;
        width: 100%;

        .field__item {
          display: flex;
          width: 100%;
          justify-content: center;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }

  .field--name-field-secondary-image {
    z-index: 1;
    position: relative;
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;

    img {
      height: rem-calc(300);
      width: auto;

      @include bp(desktop) {
        height: rem-calc(600);
      }
    }

    + .slide-info {
      text-align: center;
    }
  }

  .slide-info {
    grid-column: 2/14;
    grid-row: 1;
    position: relative;
    z-index: 1;
    display: table;
    height: 100%;

    .inner {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      padding-left: $sp5;

      @include bp(wide) {
        padding-left: 0;
      }
    }
  }

  .field--name-field-title {
    font-family: $font-Op-Md;
    font-size: rem-calc(30);
    color: $color-pure-blue;
    margin-bottom: $sp1;
    width: 100%;

    @include bp(desktop) {
      font-size: rem-calc(50);
    }
  }

  .field--name-field-body {
    @include wysiwyg;
    font-family: $font-Op-Bd;
    font-size: rem-calc(16);
    color: $color-white;
    width: 100%;

    @include bp(desktop) {
      font-size: rem-calc(22);
    }
  }
}
