// Paragraph Team Members
.paragraph--type--team-members {
  @include display-grid;

  .inner {
    padding-top: $sp3;
    border-top: 4px solid $color-black;
  }

  .section-title {
    text-align: center;
    margin-bottom: $sp5;
  }

  .field--name-field-team-member {

    @include bp(tablet-landscape) {
      @include display-grid-tight;
      grid-row-gap: rem-calc(60);
    }

    > .field__item {
      text-align: center;
      display: flex;

      @include bp(tablet-landscape) {
        grid-column: span 3;
      }
    }
  }

  &.two-column {

    .field--name-field-team-member {

      > .field__item {

        @include bp(tablet-landscape) {
          grid-column: span 6;
        }
      }
    }
  }

  &.three-column {

    .field--name-field-team-member {

      > .field__item {

        @include bp(tablet-landscape) {
          grid-column: span 4;
        }
      }
    }
  }

  &.first-one-is-big {

    .field--name-field-team-member {

      > .field__item {

        &:first-of-type {

          @include bp(tablet-landscape) {
            grid-column: 3/11;
          }
        }
      }
    }
  }
}
