// Paragraph Carousel Slide
.paragraph--type--carousel {

  .slick-dots {
    bottom: rem-calc(20);

    li {

      button {

        &::before {
          font-size: rem-calc(20);
          color: $color-white;
        }
      }
    }
  }

  .slick-prev {
    left: rem-calc(20);
    z-index: 1;

    @include bp(desktop) {
      left: rem-calc(30);
    }

    &::before {
      font-size: rem-calc(30);
    }
  }

  .slick-next {
    right: rem-calc(20);

    &::before {
      font-size: rem-calc(30);
    }
  }

}
