// Paragraph One Column
.paragraph--type--one-column-text {
  @include display-grid;
  padding: $sp5 0;

  @include bp(tablet-landscape) {
    padding: $sp7 0;
  }

  .section-title {
    text-align: center;
  }
}
