// Paragraph Featured Hero
.paragraph--type--feature-hero {
  @include display-grid;

  @include bp(desktop) {
    height: rem-calc(500);
    overflow: hidden;
  }

  .field--name-field-feature-hero-image {
    position: relative;
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;

    // Media Image: Featured Hero
    .media--type-image.media--view-mode-feature-hero {
      display: flex;
      width: 100%;

      .field--name-field-media-image {
        display: flex;
        width: 100%;

        .field__item {
          display: flex;
          width: 100%;
          justify-content: center;

          img {
            object-fit: cover;

            @include bp(wide2000) {
              width: auto;
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  .field--name-field-feature-hero-text {
    grid-column: 2/14;
    grid-row: 1;
    position: relative;
    text-align: center;
    padding: $sp5 0;
    color: $color-white;

    @include bp(desktop) {
      padding: rem-calc(120 0);
    }

    h1 {
      margin-bottom: $sp2;
    }

    .subtitle {
      font-family: $font-Op-Bd;
      font-size: rem-calc(15);
      text-transform: uppercase;
      line-height: rem-calc(28);
      letter-spacing: 3px;
      margin-bottom: $sp6;
    }

    .feature-button-group {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include bp(tablet-portrait) {
        flex-direction: row;
        justify-content: center;
      }

      a.button {
        @include focus-on-dark;
        padding: $sp3;
        margin-bottom: $sp3;
        font-size: rem-calc(20);
        line-height: 1;
        width: rem-calc(200);
        background-color: rgba(0, 170, 48, 0.81);

        @include bp(tablet-portrait) {
          margin: 0 $sp1;
        }

        @include bp(desktop) {
          padding: rem-calc(25 100);
          width: auto;
        }

        &:hover {
          color: #23a455 !important;
          background-color: $color-white;
        }

        &:last-child {
          background-color: rgba(0, 32, 178, 0.84);

          &:hover {
            color: #4054b2 !important;
            background-color: $color-white;
          }
        }
      }
    }
  }
}
