// Views Blog block
.view-blog.view-display-id-block_1 {
  @include display-grid;
  padding: $sp5 0;

  @include bp(desktop) {
    padding: $sp7 0;
  }

  .views-row {
    margin-bottom: $sp4;
    padding-bottom: $sp4;
    border-bottom: 4px solid $color-black;
  }
}
