{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_custom_class|render|striptags|trim
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

    <div class="inner">

      {% if content.field_title|field_value %}
        <h2 class="section-title">{{ content.field_title }}</h2>
      {% endif %}

      {{ content|without('field_custom_class','field_title') }}

    </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
