{{ attach_library('averity/slickCarousel') }}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'carousel-outer'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <a href="#endcarousel" class="visually-hidden skip-link">{{ 'You are entering a carousel. You can skip the carousel by clicking here. '|t }}</a>
        {{ content }}
      <a class="visually-hidden" name="endcarousel">{{ 'End of Carousel'|t }}</a>
    {% endblock %}
  </div>
{% endblock paragraph %}
