
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content|without('field_title', 'field_body') }}

      <div class="slide-info">
        <div class="inner">
          {{ content.field_title }}
          {{ content.field_body }}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
