// Team Member Content Type: View Mode Card
.node--type-team-member.node--view-mode-card {
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: $color-white;
  box-shadow: 0 0 35px 8px rgba(132, 132, 132, 0.37);
  border-bottom: 3px solid $color-primary;
  padding: $sp3;

  @include bp(tablet-landscape) {
    display: block;
  }

  .field--name-field-image {
    margin-bottom: $sp1;
  }

  .team-info {
    font-size: rem-calc(18);

    h3 {
      font-size: rem-calc(22);

      a {
        @include hover($linkcolor: $color-black, $hovercolor: $color-primary);
      }
    }

    p {
      margin: 0;
    }
  }

  .field-phone {
    margin-bottom: $sp1;
  }

  .field--name-field-email-address {
    display: inline-block;
    margin-bottom: $sp2;

    a {
      @include screen-reader-text(relative);
      text-decoration: none;

      &:hover {

        &::after {
          @include background-image('icon-mail.png', $size: contain);
        }
      }

      &::after {
        @include pseudo($pos: relative, $width: 15px, $height: 15px);
        @include background-image('icon-mail-gray.png', $size: contain);
      }
    }
  }

  .field--name-field-linkedin-url {
    display: inline-block;
    margin-bottom: $sp2;

    a {
      @include screen-reader-text(relative);
      text-decoration: none;

      &:hover {

        &::after {
          @include background-image('icon-linkedin-orange.png', $size: contain);
        }
      }

      &::after {
        @include pseudo($pos: relative, $width: 15px, $height: 15px);
        @include background-image('icon-linkedin-gray.png', $size: contain);
      }
    }
  }

  .field--name-field-company-title {
    margin-bottom: $sp1;
    line-height: 1;
  }


  .field--name-field-link {
    font-family: $font-Op-Bd;
  }
}

.first-one-is-big {

  .field--name-field-team-member {

    > .field__item {

      &:first-of-type {

        .node--type-team-member.node--view-mode-card {

          @include bp(tablet-landscape) {
            display: flex;
            text-align: left;
          }

          .team-info {

            @include bp(tablet-landscape) {
              padding-left: $sp3;
            }
          }
        }
      }
    }
  }
}
