// Article Content Type: View Mode Full
body.page-node-type-article {

  .main {
    @include remove-grid;
  }
}

.node--type-article.node--view-mode-full {
  @include display-grid;
  padding: $sp5 0;

  @include bp(desktop) {
    padding: $sp7 0;
  }

  h1.page-title {
    margin-bottom: $sp4;
  }

  .field--name-field-image {
    text-align: center;
    margin-bottom: $sp4;
  }

  .field--name-body {
    @include wysiwyg;
    margin-bottom: $sp8;
  }

  .field--name-field-author {
    text-align: center;

    .node--type-team-member {
      display: inline-block;
    }
  }
}
