// Landing Page Content Type: View Mode Full

body.page-node-type-landing-page {

  .main {
    @include remove-grid;
  }
}

.node--type-landing-page.node--view-mode-full {

  .page-header {
    @include display-grid;
    position: relative;
    height: rem-calc(180);
    background-color: $color-2;
    overflow: hidden;

    @include bp(desktop) {
      height: rem-calc(235);
    }

    .field--name-field-hero-image {
      @include pseudo-bg-img;
      z-index: 1;
      position: relative;
      grid-column: 1/-1;
      grid-row: 1;
      display: flex;

      // Media Image: Hero
      .media--type-image.media--view-mode-hero {
        display: flex;
        width: 100%;
        z-index: -1;

        .field--name-field-media-image {
          display: flex;
          width: 100%;

          .field__item {
            display: flex;
            width: 100%;
            justify-content: center;

            img {
              object-fit: cover;

              @include bp(wide2000) {
                width: auto;
                object-fit: contain;
              }
            }
          }
        }
      }
    }

    .page-title  {
      grid-column: 2/14;
      grid-row: 1;
      position: relative;
      color: $color-white;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
  }

  .node__content {

    > .field--name-body {
      @include display-grid;
      @include wysiwyg;
      padding: $sp5 0;

      @include bp(desktop) {
        padding: $sp7 0;
      }
    }
  }

  .field--name-field-paragraph-sections {
    margin-bottom: $sp5;

    @include bp(desktop) {
      margin-bottom: $sp7;
    }
  }
}
