// Article Content Type: View Mode Teaser
.node--type-article.node--view-mode-teaser {

  h2 {
    margin-bottom: $sp2;

    a {
      @include hover($linkcolor: $color-black, $hovercolor: $color-primary);
    }
  }

  .field--name-field-image {
    text-align: center;
    margin-bottom: $sp2;
  }

  .field--name-body {
    @include wysiwyg;
  }
}
