// Job Listing / Served from a custom module. Not a typical content type

// Job listing main
.joblisting {
  padding-top: $sp7;
  padding-bottom: $sp7;

  h1.page-title {
    margin-bottom: $sp4;
  }

  .fields-comp-location {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $sp4;

    .field--name-job-compensation {
      font-family: $font-Op-ExBd;
      font-size: rem-calc(26);
    }

    .separator {
      margin: 0 $sp1;
    }

    .comma {
      margin-right: rem-calc(5);
      font-family: $font-Op-Bd;
    }

    .field--name-job-location-city {
      font-family: $font-Op-Bd;
    }

    .field--name-job-location-state {
      font-family: $font-Op-Bd;
    }
  }

  .field-body {
    @include wysiwyg;
  }
}
