// Team Member Content Type: View Mode Full
body.page-node-type-team-member {

  .main {
    @include remove-grid;
  }
}

.node--type-team-member.node--view-mode-full {
  @include display-grid;
  @include wysiwyg;
  padding: $sp5 0;

  @include bp(tablet-landscape) {
    padding: $sp7 0;
  }

  // Column One
  .team-column-one {
    text-align: center;

    @include bp(tablet-landscape) {
      grid-column: 2/6;
    }
  }

  .field--name-field-image {
    margin-bottom: $sp1;
  }

  .field-phone {
    margin-bottom: $sp2;
  }

  .field--name-field-email-address {
    display: inline-block;

    a {
      @include focus-on-dark;
      @include screen-reader-text(relative);
      background-color: $color-primary;
      border-radius: 3px;
      color: $color-white;
      text-decoration: none;
      padding: $sp1;

      &:hover {
        background-color: $color-black;
      }

      &:focus {
        outline-color: $color-black;
      }

      &::after {
        @include pseudo($pos: relative, $width: 25px, $height: 25px);
        @include background-image('icon-mail-white.png', $size: contain);
      }
    }
  }

  .field--name-field-linkedin-url {
    display: inline-block;

    a {
      @include focus-on-dark;
      @include screen-reader-text(relative);
      background-color: $color-linkedin-blue;
      border-radius: 3px;
      color: $color-white;
      text-decoration: none;
      padding: $sp1;

      &:hover {
        background-color: $color-black;
      }

      &:focus {
        outline-color: $color-black;
      }

      &::after {
        @include pseudo($pos: relative, $width: 25px, $height: 25px);
        @include background-image('icon-linkedin.png', $size: contain);
      }
    }
  }

  // Column Two
  .team-column-two {

    @include bp(tablet-landscape) {
      grid-column: 6/14;
    }
  }

  h1 {
    text-align: center;
    font-family: $font-Op-Md;
    font-weight: 500;
    margin-bottom: $sp1;
  }

  .field--name-field-company-title {
    text-align: center;
    margin-bottom: $sp2;
    font-size: rem-calc(35);
    line-height: 1;
  }

  .field--name-field-quote {
    text-align: center;
    margin-bottom: $sp2;
    font-family: $font-Op-Bd;
  }

  .field--name-body {
    @include wysiwyg;
    margin-bottom: $sp2;
  }

  .field--name-field-link {
    font-family: $font-Op-Bd;
  }

}
