
@font-face {
  font-family: 'OpenSans Black';
  src: url("../fonts/OpenSans-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Black Italic';
  src: url("../fonts/OpenSans-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Bold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Bold Italic';
  src: url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Italic';
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Light';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Light Italic';
  src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Medium';
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Medium Italic';
  src: url("../fonts/OpenSans-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Regular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans Black';
  src: url("../fonts/WorkSans-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans Bold';
  src: url("../fonts/WorkSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans Extra Bold';
  src: url("../fonts/WorkSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans Extra Light';
  src: url("../fonts/WorkSans-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans Light';
  src: url("../fonts/WorkSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans Medium';
  src: url("../fonts/WorkSans-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans Regular';
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans SemiBold';
  src: url("../fonts/WorkSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans Thin';
  src: url("../fonts/WorkSans-Thin.ttf") format("truetype"); }


body {
  padding: 10px;
  background: #fff;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  word-wrap: break-word;
}

p:last-child {
  margin-bottom: 0;
}

h3,
h5 {
  color: inherit;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 30px;
  clear: both;
}

blockquote {
  margin: 30px;
  padding: 0 30px;
  margin-left: 0;
  border-left: 10px solid #ddd;
}

ul,
ol {
  margin: 30px;
  padding: 0;
}

ol ul,
ul ul,
ol ol,
ul ol {
  margin: 10px 20px;
}

ol li,
ul li {
  margin-bottom: 10px;
}

ol li:last-child,
ul li:last-child {
  margin-bottom: 0;
}

dl dt {
  font-family: 'WorkSans Medium';
}

table {
  width: 100%;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}

table th {
  text-align: left;
  padding: 10px;
}

table td {
  padding: 5px 10px;
}

.embedded-entity {
  display: block;
  margin: 0 auto 20px;
}

.embedded-entity figcaption {
  display: block;
  padding-top: 10px;
}

.embedded-entity img {
  width: auto;
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

@media (min-width: 960px) {
  h1 {
    font-size: 2.25rem;
  }
}


h2 {
  font-size: 1.5rem;
}


h3 {
  font-size: 1.5rem;
  font-family: "WorkSans Medium", sans-serif;
  color: #101010;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
  font-family: "WorkSans Medium", sans-serif;
  color: #101010;
}

h6 {
  font-size: 1.125rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: #f9520b;
}

.button {
  display: inline-block;
  border: 0;
  text-decoration: none;
  font-family: "OpenSans Medium", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.3125rem;
  color: #fff;
  background-color: #f9520b;
  padding: 0.875rem 1.5625rem;
  text-align: center;
  margin: 0;
}

.button:focus {
  outline: 2px solid #0c0c0c;
  text-decoration: underline;
}

.button:hover {
  color: #0c0c0c;
}

.button:active {
  text-decoration: underline;
}

.text-cta {
  font-family: "OpenSans Medium", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.3125rem;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
