// Page : Our Jobs
body.path-our-jobs {

  .region-content {
    padding-top: $sp4;
    padding-bottom: $sp4;

    @include bp(tablet-portrait) {
      @include display-grid-tight;
    }

    @include bp(tablet-landscape) {
      padding-top: $sp7;
      padding-bottom: $sp7;
    }
  }

  .block-facet--links {
    margin-bottom: $sp2;
    padding-bottom: $sp2;
    border-bottom: 1px solid $color-e;

    @include bp(tablet-portrait) {
      grid-column: 1/6;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    @include bp(tablet-landscape) {
      grid-column: 1/4;
    }

    ul {
      @include no-list;

      li {
        margin-bottom: rem-calc(5);

        @include bp(tablet-landscape) {
          margin-bottom: $sp1;
        }

        a {
          display: flex;
          justify-content: space-between;
          text-decoration: none;

          .facet-item__status {
            font-family: $font-Op-ExBd;
            margin-right: $sp1;
            line-height: 1;
            font-size: rem-calc(14);
            padding: rem-calc(8 5 0);
            background: $color-primary;
            color: $color-white;
          }

          .facet-item__value {
            margin-right: auto;
            border-bottom: 1px solid transparent;
            font-family: $font-Op-SB;
            font-size: rem-calc(16);

            @include bp(tablet-landscape) {
              font-size: rem-calc(20);
            }
          }

          .facet-item__count {
            font-size: rem-calc(16);
          }

          &:hover {

            .facet-item__value {
              border-bottom: 1px solid;
            }
          }
        }
      }
    }
  }

  .block-system-main-block {

    @include bp(tablet-portrait) {
      grid-column: 6/13;
    }

    @include bp(tablet-landscape) {
      grid-column: 5/13;
    }
  }
}
