// COLORS
// Change to match design requirements. Add more as needed.
$color-white: #fff;
$color-black: #000;

$color-f8: #f8f8f8;
$color-e: #eee;
$color-ef: #efefef;
$color-d: #ddd;
$color-a: #aaa;
$color-9: #999;
$color-8: #888;
$color-7: #777;
$color-6: #666;
$color-54: #545454;
$color-3a: #3a3a3a;
$color-2: #222;
$color-10: #101010;

$color-vivid-orange: #f37926;
$color-bright-red: #d33;
$color-linkedin-blue: #0077B5;
$color-pure-blue: #00b1ef;

// Primary Color
$color-primary: $color-vivid-orange;
