// @file
// Place your mixins here. Feel free to roll your own mixins.

@mixin maxcontainer {
  max-width: rem-calc($global-maxwidth);
  margin: auto;
}

@mixin pseudo-bg-img($transparent: .5) {
  position: relative;
  z-index: -1;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, $transparent);
    z-index: 0;
  }
}

@mixin pseudo-bg-text($transparent: .5) {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, $transparent);
    z-index: -1;
  }
}

@mixin bg-white($transparent: .5) {
  background-color: rgba(255, 255, 255, $transparent);
}

@mixin bg-black($transparent: .5) {
  background-color: rgba(0, 0, 0, $transparent);
}

@mixin transition-all {
  transition: all 0.4s ease;
}
// Use $pos: absolute when you just want to visually hide text.
// Sometimes when dealing with icons, other positioning is required
@mixin screen-reader-text($pos: absolute) {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: $pos;

  &::after,
  &::before {
    text-indent: 9999px;
  }
}

.screen-reader-text {
  @include screen-reader-text;
}

// Background Image
$image-path: '../images' !default;
@mixin background-image($name, $size: false) {
  background-image: url(#{$image-path}/#{$name});
  background-repeat: no-repeat;
  background-position: center center;
  @if($size) {
    background-size: $size;
  }
}

// Gradient
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

// Small header ex. footer blocks
@mixin text-cta {
  font-family: $font-Op-Md;
  font-size: rem-calc(14);
  text-transform: uppercase;
  line-height: rem-calc(21);

  a {
    @include hover($linkcolor: $color-black, $hovercolor: $color-primary);
  }
}

@mixin text-cta-link {
  @include text-cta;
  text-decoration: none !important;
  color: $color-black !important;
  display: inline-block;

  &:hover {
    text-decoration: underline !important;
    border-bottom: 0 !important;
  }

  &::after {
    content: '';
    display: inline-block;
    position: relative;
    margin-left: rem-calc(8);
    @include background-image('icon-arrow-cta-green.svg');
    height: rem-calc(9);
    width: rem-calc(6);
  }
}

@mixin text-cta-link-on-dark {
  @include text-cta-link;
  color: $color-white !important;

  &::after {
    @include background-image('icon-arrow-cta-white.svg');
  }
}

@mixin body-small {
  font-family: $font-Wk-Rg;
  font-size: rem-calc(13);
  line-height: rem-calc(18);
}

@mixin body-large {
  font-family: $font-Wk-Rg;
  font-size: rem-calc(18);
  line-height: rem-calc(27);
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: none;
}

@mixin pseudo($display: block, $pos: absolute, $content: '', $height: null, $width: null) {
  content: $content;
  display: $display;
  position: $pos;
  height: $height;
  width: $width;
}

// https://engageinteractive.co.uk/blog/top-10-scss-mixins
@mixin responsive-ratio($x, $y, $pseudo: false) {
  position: relative;
  $padding: unquote(( $y / $x ) * 100 + '%');
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}


@mixin center-this($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@mixin clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin search-form {

  .form--inline {
    display: flex;
  }

  .form-item {
    display: flex;
    margin: 0;

    label {
      @include screen-reader-text;
    }

    input {
      border: 0;
      height: rem-calc(40);
      width: 100%;
    }
  }

  .form-actions {
    margin: 0;
  }

  input.button:not(#edit-reset) {
    background-color: $color-true-green;
    @include screen-reader-text(relative);
    @include background-image('icon-arrow-right.svg');
    padding: rem-calc(15 20);
    @include focus-on-dark;
    height: rem-calc(40);
  }
}


@mixin hover($linkcolor: $color-primary, $hovercolor: $color-black) {
  color: $linkcolor;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $hovercolor;
    text-decoration: none;
    border-bottom: 1px solid;
  }
}


@mixin triangle($trianglecolor: $color-3) {
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;
  border-top-color: $trianglecolor;
  border-width: $sp1;
  margin-left: $sp1;
}
