
<div class="layout-container">

  <header role="banner" class="header">
    {{ page.header }}
  </header>

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  <main role="main" class="main">

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer class="footer footer-top" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

  {% if page.footer_bottom %}
    <div class="footer footer-bottom" role="contentinfo">
      {{ page.footer_bottom }}
    </div>
  {% endif %}

</div>{# /.layout-container #}
